body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
}

#background {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.panel {
    float: left;

    transition: box-shadow .1s;
    transition: height .5s ease-out;
}

.panel {
    height: 100%;
    box-shadow: 0 0 40px 0 #000000a0;
}

.panel:hover {
    box-shadow: 0 0 10px 0 #000000a0;
}

.panel:hover + .panel {
    box-shadow: 0 0 70px 0 #000000a0;
}

.rotate {
    height: 1px;
}

.rotate + .panel:not(.rotate) {
    height: 30%;
}

.rotate + .panel:not(.rotate) + .panel:not(.rotate) {
    height: 60%;
}
