body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
}

#background {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.panel {
    float: left;

    transition: box-shadow .1s;
    transition: transform .5s;
}

.panel {
    box-shadow: 0 0 40px 0 #000000a0;
}

.panel:hover {
    box-shadow: 0 0 10px 0 #000000a0;
}

.panel:hover + .panel {
    box-shadow: 0 0 70px 0 #000000a0;
}

.rotate {
    transform: rotate3d(1, 0, 0, 90deg);
}

.rotate + .panel:not(.rotate) {
    transform: rotate3d(1, 0, 0, 60deg);
}

.rotate + .panel:not(.rotate) + .panel:not(.rotate) {
    transform: rotate3d(1, 0, 0, 30deg);
}
