@font-face {
    font-family: target-font-family;
    src: url('./assets/fonts/TarrgetRegular-WEOz.otf');
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: blackfff;
    font-family: 'target-font-family', 'Comic Sans MS';
}

#background {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    pointer-events: none;
}

.panel {
    float: left;
    pointer-events: auto;

    transition: all .3s, height .5s ease-out;
}

.panel {
    height: 100vh;
    box-shadow: 0 0 40px 0 #000000a0;
}

.panel:hover {
    box-shadow: 0 0 10px 0 #000000a0;
}

.panel:hover + .panel {
    box-shadow: 0 0 70px 0 #000000a0;
}

.raise {
    height: 1px;
}

.raise + .panel:not(.raise) {
    height: 30%;
}

.raise + .panel:not(.raise) + .panel:not(.raise) {
    height: 60%;
}

#card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .5s;
    transform-style: preserve-3d;
    font-size: 7rem;
    text-align: center;
    padding: 3rem;
    color: rgb(255, 255, 255);
 
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    border-radius: 30px;
    box-shadow: 0px 0px 0px 0 #000000a0;
    background-image: linear-gradient(black, white);
}

#text {
    transform: translateZ(5rem);
    transition: .5s;
    text-shadow: 0px 0px #000000a0;
}

#icon-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.icon {
    transition: 0.5s;
    max-height: 5vh;
    margin: 3rem;
    margin-top: auto;
    margin-bottom: auto;
    filter: brightness(0);
}

.icon-parent:hover > .icon {
    filter: brightness(0) invert(1);
    transform: translateZ(2rem);
}

#board {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.pad {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 5px 5px 5px 0 #000000a0;

    height: 1rem;
    width: 9rem;
    border-radius: .5rem;
}

#player1 {
    top: 5%;
}

#player2 {
    bottom: 5%;
}

#ball {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 5px 0 blackfffa0;
    filter: invert(1);
    border: solid 2px white;

    transition: box-shadow .2s, height .5s ease-out;

    height: 1rem;
    width: 1rem;
    border-radius: 50%;
}

.pad:hover, #ball:hover {
    box-shadow: 2px 2px 2px 0 #000000a0;
}

#siPlayer {
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    
    border-bottom: 20px solid black;

    height: 0;
    width: 0;
}

.siEnemy {
    position: absolute;
    transform: translate(-50%, -50%);
}

@keyframes enemy-mov {
    0% {
        transform: translate(-250%, 250%);
    }

    25% {
        transform: translate(0%, 0%);
    }

    50% {
        transform: translate(250%, 250%);
    }

    75% {
        transform: translate(0%, 0%);
    }

    100% {
        transform: translate(-250%, 250%);
    }
}

.bullet {
    position: absolute;
    height: 6px;
    width: 6px;
    content: '';
    border-radius: 50%;
    background: black;
}

.space-invader { 
    float: left;
    width: 0.25em; 
    height: 0.25em; 
    margin: 40px 40px;
    animation: enemy-mov 3s infinite;
}

.space-invader.animate {
  animation: 2s infinite;
}
  
.space-invader-1 {
    box-shadow:
      0 0 0 .25em green,
      0 .25em 0 .25em green,
      -.625em .375em 0 .125em green,
      .625em .375em 0 .125em green,
      -.75em -.75em 0 0 green,
      .75em -.75em 0 0 green,
      -.5em -.5em 0 0 green,
      .5em -.5em 0 0 green,
      -.75em -.25em 0 0 green,
      -.5em -.25em 0 0 green,
      .5em -.25em 0 0 green,
      .75em -.25em 0 0 green,
      -1em 0 0 0 green,
      -.75em 0 0 0 green,
      .75em 0 0 0 green,
      1em 0 0 0 green,
      -1em .25em 0 0 green,
      1em .25em 0 0 green,
      -.75em .75em 0 0 green,
      .75em .75em 0 0 green,
      /* Left Arm */
      1.25em .25em 0 0 green,
      1.25em .5em 0 0 green,
      1.25em .75em 0 0 green,
      /* Right Arm */
      -1.25em .25em 0 0 green,
      -1.25em .5em 0 0 green,
      -1.25em .75em 0 0 green,
      /* Left Foot */
      -.25em 1em 0 0 green,
      -.5em 1em 0 0 green,
      /* Right Foot */
      .25em 1em 0 0 green,
      .5em 1em 0 0 green;
}

.space-invader-1.animate {
  animation-name: space-invader-1;
}

@keyframes space-invader-1 {
    0% {
        transform: translate(-250%, 250%);
    }

    25% {
        transform: translate(0%, 0%);
    }

    75% {
        transform: translate(0%, 0%);
    }

    100% {
        transform: translate(-250%, 250%);
    }
    50% {
        transform: translate(250%, 250%);
        box-shadow: 
      0 0 0 .25em black,
      0 .25em 0 .25em black,
      -.625em .375em 0 .125em black,
      .625em .375em 0 .125em black,
      -.75em -.75em 0 0 black,
      .75em -.75em 0 0 black,
      -.5em -.5em 0 0 black,
      .5em -.5em 0 0 black,
      -.75em -.25em 0 0 black,
      -.5em -.25em 0 0 black,
      .5em -.25em 0 0 black,
      .75em -.25em 0 0 black,
      -1em 0 0 0 black,
      -.75em 0 0 0 black,
      .75em 0 0 0 black,
      1em 0 0 0 black,
      -1em .25em 0 0 black,
      1em .25em 0 0 black,
      -.75em .75em 0 0 black,
      .75em .75em 0 0 black,
      /* Left Arm */
      1.25em 0 0 0 black,
      1.25em -.25em 0 0 black,
      1.25em -.5em 0 0 black,
      /* Right Arm */
      -1.25em 0 0 0 black, 
      -1.25em -.25em 0 0 black, 
      -1.25em -.5em 0 0 black, 
      /* Left Foot */
      -1em 1em 0 0 black, 
      -1em 1em 0 0 black, 
      /* Right Foot */
      1em 1em 0 0 black, 
      1em 1em 0 0 black;
    }
}

.space-invader-2 {
  box-shadow: 
    /* Body */
    -.125em -.5em 0 .25em green,
    .125em -.5em 0 .25em green,
    -.75em -.375em 0 .125em green,
    -.875em -.375em 0 .125em green,
    .75em -.375em 0 .125em green,
    .875em -.375em 0 .125em green,
    -1em 0 0 .25em green,
    1em 0 0 .25em green,
    -.5em .25em 0 0 green,
    -.25em .25em 0 0 green,
    0 .25em 0 0 green,
    .25em .25em 0 0 green,
    .5em .25em 0 0 green,
    /* Crotch */
    .3125em .5em 0 0 green,
    .5em .5em 0 0 green,
    .5em .5em 0 0 green,
    -.3125em .5em 0 0 green,
    -.5em .5em 0 0 green,
    -.5em .5em 0 0 green,
    .0625em .75em 0 0 green,
    -.0625em .75em 0 0 green,
    /* Right Leg */
    -.625em .75em 0 0 green,
    -.8125em .75em 0 0 green,
    -1.0625em 1em 0 0 green,
    -1.25em 1em 0 0 green,
    /* Left Leg */
    .625em .75em 0 0 green,
    .8125em .75em 0 0 green,
    1.0625em 1em 0 0 green,
    1.25em 1em 0 0 green;
}

.space-invader-2.animate {
  animation-name: space-invader-2;
}

@keyframes space-invader-2 {
    0% {
        transform: translate(-250%, 250%);
    }

    25% {
        transform: translate(0%, 0%);
    }

    75% {
        transform: translate(0%, 0%);
    }

    100% {
        transform: translate(-250%, 250%);
    }
    50% {
        transform: translate(250%, 250%);
        box-shadow: 
      /* Body */
      -.125em -.5em 0 .25em black,
      .125em -.5em 0 .25em black,
      -.75em -.375em 0 .125em black,
      -.875em -.375em 0 .125em black,
      .75em -.375em 0 .125em black,
      .875em -.375em 0 .125em black,
      -1em 0 0 .25em black,
      1em 0 0 .25em black,
      -.5em .25em 0 0 black,
      -.25em .25em 0 0 black,
      0 .25em 0 0 black,
      .25em .25em 0 0 black,
      .5em .25em 0 0 black,
      /* Crotch */
      .3125em .5em 0 0 black,
      .5em .5em 0 0 black,
      .625em .5em 0 0 black,
      -.3125em .5em 0 0 black,
      -.5em .5em 0 0 black,
      -.625em .5em 0 0 black,
      .0625em .75em 0 0 black,
      -.0625em .75em 0 0 black,
      /* Right Leg */
      -.75em .75em 0 0 black,
      -.9375em .75em 0 0 black,
      -.75em 1em 0 0 black,
      -.5em 1em 0 0 black,
      /* Left Leg */
      .75em .75em 0 0 black,
      .9375em .75em 0 0 black,
      .75em 1em 0 0 black,
      .5em 1em 0 0 black;
    }
}

.space-invader-3 { 
  box-shadow: 
    /* Body */
    0 -.625em 0 .125em green,
    -.25em -.375em 0 .125em green,
    .25em -.375em 0 .125em green,
    .625em -.25em 0 0 green,
    -.625em -.25em 0 0 green,
    0 .125em 0 .125em green,
    -.75em .125em 0 .125em green,
    .75em .125em 0 .125em green,
    .375em .25em 0 0 green,
    -.375em .25em 0 0 green,
    /* Crotch */
    .125em .5em 0 0 green,
    -.125em .5em 0 0 green,
    /* Right Leg */
    -.625em .5em 0 0 green,
    -.875em .75em 0 0 green,
    -.625em 1em 0 0 green,
    -.625em 1em 0 0 green,
    /* Left Leg */
    .625em .5em 0 0 green,
    .875em .75em 0 0 green,
    .625em 1em 0 0 green,
    .625em 1em 0 0 green;
}

.space-invader-3.animate {
  animation-name: space-invader-3;
}

@keyframes space-invader-3 {
    0% {
        transform: translate(-250%, 250%);
    }

    25% {
        transform: translate(0%, 0%);
    }

    75% {
        transform: translate(0%, 0%);
    }

    100% {
        transform: translate(-250%, 250%);
    }
    50% {
        transform: translate(250%, 250%);
        box-shadow: 
    /* Body */
    0 -.625em 0 .125em black,
    -.25em -.375em 0 .125em black,
    .25em -.375em 0 .125em black,
    .625em -.25em 0 0 black,
    -.625em -.25em 0 0 black,
    0 .125em 0 .125em black,
    -.75em .125em 0 .125em black,
    .75em .125em 0 .125em black,
    .375em .25em 0 0 black,
    -.375em .25em 0 0 black,
      /* Crotch */
    .125em .5em 0 0 black,
    -.125em .5em 0 0 black,
      /* Right Leg */
      -.375em .5em 0 0 black,
      -.625em .75em 0 0 black,
      -.875em 1em 0 0 black,
      -.375em 1em 0 0 black,
      /* Left Leg */
      .375em .5em 0 0 black,
      .625em .75em 0 0 black,
      .875em 1em 0 0 black,
      .375em 1em 0 0 black;
    }
}
